body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 16px;
}


header h1 {
    font-size: 3.125rem;
    padding: 1.875rem;
    font-weight: normal;
}

header p {
    padding: 0.9375rem;
    margin-bottom: 0.625rem;
}

.download {
    color: aquamarine;
    text-decoration: underline;
}

h1 {
    font-weight: 300;
    font-size: 2.625rem;
}

.yptg {
    margin: 1.5625;
}

.yptg .text {
    font-size: 1.3125rem;
    color: gray;
    padding-top: 2.1875rem;
}

.yptg img {
    padding-top: 1.25rem;
}

.cs .image {
    padding-top: 1.25rem;
}

footer {
    text-align: right;
    color: gray;
    font-size: 1.3125rem;
    margin: 1.25rem 5.3125rem;
}

.cs h1 {
    padding: 2.5rem;
}